* {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
@media screen and ( min-width: 400px ) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh 30vh 30vh;
        grid-template-areas:
        "title login"
        "navigation navigation"
        "sidebar sidebar"
        "welcome welcome"
        "events events"
        "promotions promotions"
        "conten conten"
        "footer footer";
    }
    .title { grid-area: title; }
    .login { grid-area: login; }
    .navigation { grid-area: navigation; }
    .sidebar { grid-area: welcome; }
    .welcome { grid-area: sidebar; }
    .events { grid-area: events; }
    .promotions { grid-area: promotions; }
    .con { grid-area: con; }
    .footer { grid-area: footer; }
}

.title, .events, .footer { background: lightsalmon; }
.login { background: red; }
.navigation, .conten, .promotions { background: lightsteelblue; }
.welcome, .footer { background: lightyellow; }
.sidebar {background: cyan; }

/* tablet */
@media screen and ( min-width: 500px ){

    body {
        grid-template-columns: 50% 50%;
        grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh 30vh;
        grid-template-areas:
        "title login"
        "navigation navigation"
        "welcome welcome"
        "sidebar sidebar"
        "events promotions"
        "conten conten"
        "footer footer"
    }
    .title { grid-area: title; }
    .login { grid-area: login; }
    .navigation { grid-area: navigation; }
    .welcome { grid-area: welcome; }
    .sidebar { grid-area: sidebar; }
    .events { grid-area: events; }
    .promotions { grid-area: promotions; }
    .con { grid-area: con; }
    .footer { grid-area: footer; }

}
@media screen and ( min-width: 1024px ){
    body {
        grid-template-columns: 
            25%
            12.5%
            37.5%
            25%;
        grid-template-rows: 35vh 35vh 35vh 35vh 35vh ;
        grid-template-areas:
        "title navigation navigation login"
        "welcome welcome welcome welcome"
        "events events promotions sidebar"
        "conten conten conten sidebar"
        "footer footer footer sidebar"    
    }
}

